.projects {
    display: flex;
    width: 100%;
    background: linear-gradient(45deg, rgba(216, 46, 8, 0.085), rgba(62, 7, 189, 0.126));
    font-family: 'Poppins', sans-serif;
}

@media (min-width:50em) {
    .projectSection {
        padding: 15px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        gap: 1.5rem;
    }
}

.cards {
    position: relative;
    cursor: pointer;
    border: 3px solid rgb(160, 150, 150);

    img {
        height: 100%;
        object-fit: fill;
        
    }

    button {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-180%);
        background: transparent;
        border: 3px solid #fff;
        padding: 10px 20px;
        color: #fff;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bolder;
        cursor: pointer;
        opacity: 0;

        &:hover {
            background: #fff;
            color: firebrick;
        }
    }

    &:hover button {
        opacity: 1;
        transition: 500ms;

    }

    &:hover img {
        opacity: 0.6;
    }
}

.container {
    height: 100vh;
    background-color: #f8efef;
}

@media(max-width:800px){
    .projectSection {
    padding: 12px;
    display: grid;
    gap: 1.335rem;


    .cards {
        padding: 15px;
    }

}}
